<% if @params[:complete] == "1"  %>
  <% @page_title = "完了済みのTODO一覧" %>
<% else %>
  <% @page_title = "未完了のTODO一覧" %>
<% end %>

<main>
  <ul class="todo-list">
    <% @tasks.each do |task| %>
    <li class="todo-item">
      <%= task.title %>
      <%= link_to "編集", edit_task_path(task) %>
      <%= link_to "削除", task_path(task), method: :delete, class:"delete" %>
      <%= link_to "完了", complete_task_path(task), method: :patch, class:"complete" %>
    </li>
    <% end %>
  </ul>
</main>
